@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Preferred Name - Ethan";
}

<h1>My First Website with C#</h1> <br />
<img id=" pic" src="images/making otai.jpg" />

<p>
    In this class, the main thing I want to get out of it is to learn C#. There are many companies that use C# and I think it is important to learn a strongly typed language.
    I also hope to learn how to use C# to launch websites much how I learned how to use Django last semester. I want to learn how to use the routes in program.cs and startup.cs
    to be able to route the user to the many different webpages I plan to build. Lastly, I want to understand what the code is doing, rather than simply copying it.
    I hope that this class will teach me these skills. Thank you.
</p> <br /><br />
<p>My top 3 Jobs I am Interested In: </p>
<ul>
    <li>1) Cybersecurity</li>
    <li>2) Database</li>
    <li>3) Consulting</li>
</ul>
<br /><br />

<!-- Calculates Grade based on percentages inputted without the % sign and prints letter grade along with final % -->
<!--<h2>Grade Calculator</h2>
<h6>Do not include the % sign</h6>
<form>
    <label>Assignments:</label>
    <input id="assignments" /><br />
    <label>Group Project:</label>
    <input id="projects" /><br />
    <label>Quizzes:</label>
    <input id="quizzes" /><br />
    <label>Midterm Exam:</label>
    <input id="midterm" /><br />
    <label>Final Exam:</label>
    <input id="final" /><br />
    <label>Intex:</label>
    <input id="intex" /><br />
</form>

<button id="submit">Submit</button>
<div>
    Class Grade:
    <span id="grade">

    </span>
</div>

  
<script src="js/gradeCalculator.js"></script>-->
